<Alloy>
	<View class="container">
		<View id="div_logout" onTouchstart="logout_down" onTouchend="logout_up">
			<ImageView id="logoutButton"></ImageView>
		</View>
		<View id="div_info" onTouchstart="info_down" onTouchend="info_up">
			<ImageView id="img_info"></ImageView>
		</View>
			<ImageView id="profileImg" class="img-circle" onClick="changeProfile"></ImageView>
			<ImageView id="borderShape" onClick="changeProfile" image="/images/borderShape.png" platform="android"></ImageView>
		<Label id="profileName"></Label>
		<Label id="profileMail"></Label>
		<Button id="videos" onClick="menu">Videos Tutoriales</Button>
		<View id="div_notiVid" class="notiDiv" visible="false">
			<ImageView id="noti_vid"></ImageView>
			<Label id="lbl_notiVid" class="notiLbl"></Label>
		</View>
		<View id="vidSeparator"></View>
		<Button id="articulos" onClick="menu">Articulos de Interés</Button>
		<View id="div_notiArt" class="notiDiv" visible="false">
			<ImageView id="noti_art"></ImageView>
			<Label id="lbl_notiArt" class="notiLbl"></Label>
		</View>
		<View id="artSeparator"></View>
		<Button id="puntos" onClick="menu">Puntos de Venta</Button>
		<View id="punSeparator"></View>
		<Button id="regala" onClick="menu">Regala Salud</Button>
		<View id="regSeparator"></View>
		<Button id="directorios" onClick="menu">Directorio de Salud</Button>
		<View id="div_main" height="Ti.UI.FILL" width="Ti.UI.FILL" visible="false"></View>
		<View id="footer">
			<View id="fechaCiclo" onClick="showPicker">
				<Label id="diaFechaCiclo"></Label>
				<Label id="restoFechaCiclo"></Label>
			</View>
			<View id="ciclo" onClick="ciclo_click">
				<ImageView id="cicloButton"></ImageView>
				<Label id="tituloCiclo">registro de \nmis días</Label>
			</View>
			<View id="compra" onClick="compra_click">
				<ImageView id="compraButton"></ImageView>
				<Label id="tituloCompra">Fecha de \nadquisición</Label>
			</View>
			<View id="fechaCompra" onClick="showPicker">
				<Label id="diaFechaCompra"></Label>
				<Label id="restoFechaCompra"></Label>
			</View>
		</View>
	</View>
</Alloy>