<Alloy>
	<View class="container">
		<View id="div_logout" onTouchstart="logout_down" onTouchend="logout_up">
			<ImageView id="logoutButton"></ImageView>
		</View>
		<View id="div_info" onTouchstart="info_down" onTouchend="info_up">
			<ImageView id="img_info"></ImageView>
		</View>
		<View id="imageMask" onClick="changeProfile">
			<ImageView id="profileImg"></ImageView>
		</View>
		<Label id="profileName"></Label>
		<Label id="profileMail"></Label>
		<Button id="videos" onClick="menu">Videos Tutoriales</Button>
		<View id="div_notiVid" class="notiDiv" visible="false">
			<ImageView id="noti_vid"></ImageView>
			<Label id="lbl_notiVid" class="notiLbl"></Label>
		</View>
		<View id="vidSeparator"></View>
		<Button id="articulos" onClick="menu">Articulos de Interés</Button>
		<View id="div_notiArt" class="notiDiv" visible="false">
			<ImageView id="noti_art"></ImageView>
			<Label id="lbl_notiArt" class="notiLbl"></Label>
		</View>
		<View id="artSeparator"></View>
		<Button id="puntos" onClick="menu">Puntos de Venta</Button>
		<View id="punSeparator"></View>
		<Button id="regala" onClick="menu">Regala Salud</Button>
		<View id="regSeparator"></View>
		<Button id="directorios" onClick="menu">Directorio de Doctores</Button>
		<View id="div_main" height="Ti.UI.FILL" width="Ti.UI.FILL" visible="false"></View>
		<View id="footer">
			<View id="fechaCiclo" onClick="showPicker">
				<Label id="diaFechaCiclo"></Label>
				<Label id="restoFechaCiclo"></Label>
				<!-- <Label id="lbl_null">Toca aqui para \n registrar tu fecha</Label> -->
			</View>
			<View id="ciclo">
				<ImageView id="cicloButton"></ImageView>
				<!-- <ImageView id="cerrarCiclo" class="cerrarButton"></ImageView> -->
				<Label id="tituloCiclo">Inicio de \nmi ciclo</Label>
			</View>
			<View id="compra">
				<ImageView id="compraButton"></ImageView>
				<!-- <ImageView id="cerrarComprar" class="cerrarButton"></ImageView> -->
				<Label id="tituloCompra">Compra de \nAware® Pad</Label>
			</View>
			<View id="fechaCompra" onClick="showPicker">
				<Label id="diaFechaCompra"></Label>
				<Label id="restoFechaCompra"></Label>
				<!-- <Label id="lbl_null">Toca aqui para \n registrar tu fecha</Label> -->
			</View>
		</View>
	</View>
</Alloy>